[submodule ".registry"]
	path = .registry
	url = https://github.com/tianshu129/universe
	shallow = true
	branch = HEAD
[submodule "foqat"]
	path = foqat
	url = https://github.com/tianshu129/foqat
	shallow = true
	registered = true
